{% extends 'base.jinja2' %}

{% block header %}
  <header>
    <h1 class="paste-header">{{ title }}</h1>
  </header>
{% endblock %}

{% block main %}
  </div>
  <main class="paste-form">
    <div>
      <form action="http://127.0.0.1:8000/paste/create/" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        {{ form.title }}<br>
        {{ form.language }}<br>
        {{ form.content }}<br>       
        <input type="submit" value="Submit" />
      </form>
  </main>
{% endblock %}