{% extends 'base.jinja2' %}

{% block header %}
  <header>
    <h1 class="paste-header">{{ title }}</h1>
  </header>
{% endblock %}

{% block main %}
  <main class="paste-detail">
    <h1>{{paste.title}}</h1>  
    <h2>{{paste.language}}</h2>
    {{paste.content|safe}}
  </main>
{% endblock %}